<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="thin-text" text-center>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
  <ion-card class="event-card">
    <img src="../../../assets/banner-xlv.png">
  </ion-card>
  <ion-card class="event-card">
      <img src="../../../assets/Banner-WCIM.png">
  </ion-card>
  <ion-card class="event-card">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="4">
          <img src="../../../assets/CMIM_logo.png">
        </ion-col>
        <ion-col size="6">
          <h2 class="card-font " text-center> Cursos <br> Regionales</h2 >
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
  </ion-card>
  <ion-card class="event-card">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="4">
          <img src="../../../assets/CMIM_logo.png">
        </ion-col>
        <ion-col size="6">
          <h2 class="card-font " text-center><br> Constancias</h2 >
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
  </ion-card>

</ion-content>
