

<ion-content class="background">
    <div class="center-logo">
        <img src="../../assets/banner_201909.jpg" >
      </div>
  <ion-row>
    <ion-col size="4">
      <ion-card  (click)="irPagina('eventos')">
        <img src="../../../assets/icon/programa.png">
      </ion-card>
      <p text-center class="menu-font">Programa</p>
    </ion-col>
    <ion-col size="4">
        <ion-card  (click)="irPagina('mesa')">
          <img src="../../../assets/icon/profes.png">
        </ion-card>
        <p text-center class="menu-font">Profesores</p>
      </ion-col>
      <ion-col size="4">
          <ion-card  (click)="irPagina('mesa')">
            <img src="../../../assets/icon/mensaje.png">
          </ion-card>
          <p text-center class="menu-font">Mensaje de <br> Bienvenida</p>
        </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="4">
        <ion-card  (click)="irPagina('mesa')">
          <img src="../../../assets/icon/expo.png">
        </ion-card>
        <p text-center class="menu-font">Expo <br> Comercial</p>
      </ion-col>
      <ion-col size="4">
          <ion-card  (click)="irPagina('ligas')">
            <img src="../../../assets/icon/lugares.png">
          </ion-card>
          <p text-center class="menu-font">Lugares <br> de Interés</p>
        </ion-col>
        <ion-col size="4">
            <ion-card  (click)="irPagina('mesa')">
              <img src="../../../assets/icon/patrocinador.png">
            </ion-card>
            <p text-center class="menu-font">Patrocinadores</p>
          </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <ion-card  (click)="irPagina('comite')">
            <img src="../../../assets/icon/comite.png">
          </ion-card>
          <p text-center class="menu-font">Comité <br> Organizador</p>
        </ion-col>
        <ion-col size="4">
            <ion-card  (click)="irPagina('contacto')">
              <img src="../../../assets/icon/agenda.png">
            </ion-card>
            <p text-center class="menu-font">Mi Agenda</p>
          </ion-col>
          <ion-col size="4">
              <ion-card  (click)="irPagina('congreso')">
                <img src="../../../assets/icon/congresistas.png">
              </ion-card>
              <p text-center class="menu-font">Congresistas</p>
            </ion-col>
      </ion-row>
      <!-->ion-row>
        <ion-col size="4">
          <ion-card class="color-c10" (click)="irPagina('mesa')">
            <img src="../../../assets/icon/Articulos.png">
          </ion-card>
          <h3 text-center class="menu-font">Articulos</h3>
        </ion-col>
        <ion-col size="4">
            <ion-card class="color-c11" (click)="irPagina('residentes')">
              <img src="../../../assets/icon/">
            </ion-card>
            <h4 text-center class="menu-font">Residentes</h4>
          </ion-col>
          <ion-col size="4">
              <!->ion-card>
                <img src="../../assets/icon/icono_congreso.png">
              </ion-card->
            </ion-col>
      </ion-row-->
</ion-content>

