
<ion-content class="background">
  
    <div class="center-logo">
        <img src="../../../assets/CMIM_logo.png" >
      </div>
      <ion-card class="text-primary "> <br>
        <h2 class="thin-text" text-center>Insurgentes Sur 569<br>
                        Piso 6 col. Nápoles<br>
                        Ciudad de México | 03810
        </h2>
        <h2 class="thin-text" text-center>Nuestros teléfonos: <br>
                        55 36 60 67<br>
                        56 87 79 77</h2>
        <h2 class="thin-text" text-center>Correo: <br>
            amim96@cmim.org</h2><br><br>
      </ion-card>

      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="4">
          <ion-card class="icon-fb" text-center (click)="navegar('https://www.facebook.com/cmim.org')">
              <ion-icon name="logo-facebook"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="icon-tw" text-center (click)="navegar('https://twitter.com/cmimorg')">
              <ion-icon name="logo-twitter"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>



</ion-content>
