<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button text="" icon="arrow-dropleft-circle"></ion-back-button>
        </ion-buttons>
      <ion-title class="thin-text" text-center>Residentes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="background">
  <ion-card class="backCards">
    <ion-item lines="none">
        <ion-avatar>
            <img class="perfil" src="../../../assets/avatars/02.png">
        </ion-avatar>
      <h3 class="name">Dr. Alfredo Cabrera Rayo</h3><br> 
    </ion-item> 
    <p class="hora">12/12/2019</p> 
      <ion-item lines="none" class="postTexto"><h4>WCIM 2020</h4></ion-item>
       
    <ion-card class="centerPost text-center">
        <img class="postImagen text-center" src="../../../assets/congreso_post.png" >
     </ion-card>

     <ion-card>
      <ion-item lines="none">
        <ion-avatar>
          <img class="perfil" src="../../../assets/avatars/03.png">
        </ion-avatar>
        <h3 class="name">Dra. María Cristina Guerrero de León</h3>
      </ion-item>
      <p class="hora">26/09/2019</p>  
      <ion-item lines="none" id=""><h4>Ahí estaremos!!!</h4></ion-item>
      <br>
    </ion-card>

  </ion-card>
  </ion-content>
  <ion-footer >
    <ion-toolbar class="backgrounds">
      <ion-row class="input-position">
        <ion-col size="9">
          <ion-input class="input restrict" type="text" placeholder="   Escribe tu comentario"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-button shape="round" class="send-button"  >
            <ion-text color="light">Enviar</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>