<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="thin-text" text-center>
      Notificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-card>
      <ion-list lines="full">
        <ion-item>
          <ion-item-group>
          <h4>Bienvenida</h4>
          <p>Bienvenidos a la aplicación móvil oficial del CMIM…</p>
          <p class="date-text">10 de Diciembre 2019</p>
          </ion-item-group>
        </ion-item>
        <ion-item>
          <ion-item-group>
          <h4>¡Feliz día del Medico!</h4>
          <p>A todos nuestros amigos y colegas les deseamos…</p>
          <p class="date-text">20 de Diciembre 2019</p>
          </ion-item-group>
        </ion-item>
        <ion-item>
          <ion-item-group>
          <h4>XLII Congreso Nacional de Medicina Crítica</h4>
          <p>No te pierdas el XLII Congreso Nacional de Medic…</p>
          <p class="date-text">20 de Diciembre 2019</p>
          </ion-item-group>
        </ion-item>
        <br><br><br>
      </ion-list>
    </ion-card>
</ion-content>
