

<ion-content>
    <div class="center-logo">
        <img src="../../assets/banner_201909.jpg" >
      </div>
  <ion-row>
    <ion-col size="4">
      <ion-card class="color-c1" (click)="irPagina('eventos')">
        <img src="../../assets/icon/Eventos.png">
      </ion-card>
      <h3 text-center class="menu-font">Eventos</h3>
    </ion-col>
    <ion-col size="4">
        <ion-card class="color-c2" (click)="navegar('https://cmedicoscliente.azurewebsites.net/')">
          <img src="../../assets/icon/Videoteca.png">
        </ion-card>
        <h3 text-center class="menu-font">Videoteca</h3>
      </ion-col>
      <ion-col size="4">
          <ion-card class="color-c3" (click)="irtab('tab3')">
            <img src="../../assets/icon/Socio.png">
          </ion-card>
          <h3 text-center class="menu-font">Socio</h3>
        </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="4">
        <ion-card class="color-c4" (click)="irPagina('mesa')">
          <img src="../../assets/icon/Mesa.png">
        </ion-card>
        <h4 text-center class="menu-font">Consejo Directivo</h4>
      </ion-col>
      <ion-col size="4">
          <ion-card class="color-c5" (click)="irPagina('ligas')">
            <img src="../../assets/icon/Ligas.png">
          </ion-card>
          <h4 text-center class="menu-font">Ligas de Interés</h4>
        </ion-col>
        <ion-col size="4">
            <ion-card class="color-c6" (click)="navegar('https://brbmx.com/cmim/')">
              <img src="../../assets/icon/Transmision.png">
            </ion-card>
            <h4 text-center class="menu-font">Transmisión  <br>en vivo</h4>
          </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <ion-card class="color-c7" (click)="navegar('https://cmim.org/Home/Revista')">
            <img src="../../assets/icon/Revista.png">
          </ion-card>
          <h3 text-center class="menu-font">Revista</h3>
        </ion-col>
        <ion-col size="4">
            <ion-card class="color-c8" (click)="irPagina('contacto')">
              <img src="../../assets/icon/Contacto.png">
            </ion-card>
            <h3 text-center class="menu-font">Contacto</h3>
          </ion-col>
          <ion-col size="4">
              <ion-card class="color-c9" (click)="irPagina('congreso')">
                <img src="../../assets/icon/icono_congreso.png">
              </ion-card>
              <h4 text-center class="menu-font">WCIM 2020</h4>
            </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card class="color-c10">
            <img src="../../assets/icon/Articulos.png">
          </ion-card>
          <h3 text-center class="menu-font">Articulos</h3>
        </ion-col>
        <ion-col size="4">
            <ion-card class="color-c11" (click)="irPagina('residentes')">
              <img src="../../assets/icon/Residentes.png">
            </ion-card>
            <h4 text-center class="menu-font">Investigación</h4>
          </ion-col>
          <ion-col size="4">
            <ion-card class="color-c12" (click)="irPagina('residentes')">
              <img src="../../assets/icon/casos.png">
            </ion-card>
            <h4 text-center class="menu-font">Casos Clínicos</h4>
          </ion-col>
      </ion-row>
</ion-content>
