

<ion-content class="background">
  <div>
  <div class="center-logo">
    <img src="../../assets/CMIM_logo.png" >
  </div>
  <h3 text-center class="thin-text white-font">Cédula Profesional</h3>
<ion-card class="white-login centered-thin-box">
    <ion-input  text-center placeholder="3567887867867867"></ion-input>
</ion-card> <br>
<h3 text-center class="thin-text white-font">Contraseña</h3>
<ion-card class="white-login centered-thin-box">
  <ion-input text-center placeholder="**********"></ion-input>
</ion-card>
<br>
<div>
<ion-card class="color-button center-logo thin-text centered-thin-button" (click)="irPagina('perfil')"> <h3 class="thin-text white-font">Ingresar</h3></ion-card>
</div>
<h4 text-center class=" blue-font">¿Olvidó su contraseña?</h4>
</div>


</ion-content>
